@page "/myAnalyzeList"
@using OilQuality.Data;
@inject NavigationManager navigation;
@inject CurrentUser currentUser;

<MudAppBar Style="margin-top: 2%; position: absolute; width: 90%; left: 50%; transform: translate(-50%, 0); background-color: white; box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;">
    <div Class="d-flex mx-auto">
        <MudButton Href="/worker">
            Главная страница
        </MudButton>
        <MudButton Href="/requestList">
            Заявки
        </MudButton>
        <MudButton Href="/myAnalyzeList">
            Выполненные анализы
        </MudButton>
        <MudButton Href="/workerEquipList">
            Оборудование
        </MudButton>
    </div>
    <MudIconButton Icon="@Icons.Material.Outlined.ExitToApp" aria-label="exit" Href="/"></MudIconButton>
</MudAppBar>


<div class="mainblock">
    <div style="flex: 50%; overflow: scroll;">
        <MudTable Items="@workers" Filter="new Func<Analyze,bool>(FilterFunc1)" @bind-SelectedItem="selectedItem1">
            <ToolBarContent>
                <MudText Typo="Typo.h6">Анализы</MudText>
                <MudSpacer />
                <MudTextField @bind-Value="searchString1" Placeholder="Поиск" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
                <MudSpacer />
            </ToolBarContent>
            <HeaderContent>
                <MudTh>Наименование</MudTh>
                <MudTh>Тип</MudTh>
                <MudTh>Месторождение</MudTh>
                <MudTh>Просмотреть</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Наименование">@context.Title</MudTd>
                <MudTd DataLabel="Тип">@context.Type</MudTd>
                <MudTd DataLabel="Месторождение">@context.Deposit</MudTd>
                <MudTd DataLabel="Просмотреть"><MudButton Variant="Variant.Outlined" Color="Color.Info" OnClick="() => NavigationToAnalyze(context.Title)">Просмотр</MudButton></MudTd>
            </RowTemplate>
        </MudTable>
    </div>
    <div style="flex: 49%;">
        <img src='/css//Mesh-20.png' style="width: 100%; height:100%; object-fit: cover; overflow: hidden; box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;">
    </div>
</div>

@code {
    List<Analyze> workers;
    private string searchString1 = "";
    private Analyze selectedItem1 = null;
    private HashSet<Analyze> selectedItems = new HashSet<Analyze>();

    protected override void OnInitialized()
    {
        workers = DBConnection.ImportOnlyAnalyzesOfWorker(currentUser.CurrentUserData);
    }

    public void NavigationToAnalyze(string id)
    {
        navigation.NavigateTo($"/analyzeOrReq/{id}");
    }

    private bool FilterFunc1(Analyze element) => FilterFunc(element, searchString1);

    private bool FilterFunc(Analyze element, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (element.Title.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.Type.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if ($"{element.Deposit}".Contains(searchString))
            return true;
        return false;
    }
}

<style>
    .mainblock {
        display: flex;
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
        position: absolute;
        left: 15%;
        top: 700%;
        width: 70%;
        height: 3100%;
        flex-direction: row;
        justify-content: center;
        align-self: center;
    }
</style>